/* You can add global styles to this file, and also import other style files */
.active-link {
  box-shadow: 0 5px 5px coral;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

h1 {
  background-color: blue;
}
